body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2C2C2E; 
}

#board {
  padding: 0;
  margin: 0;
  display: block;
  background-image: url('./assets/flappy_background.png');
  background-size: auto 100%;
}